<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to Naga Framework</title>
	<style>
		body {
			font-size: 14px;
			background: #eee;
			color: #888;
			text-shadow: 1px 1px 0 #fff;
			font-family: sans-serif;
			font-weight: lighter;
		}

		h1 {
			font-weight: lighter;
			font-size: 36px;
			text-align: center;
		}

		p {
			width: 100%;
			text-align: center;
			color: #777;
		}
	</style>
</head>
<body>
	{% block main %}{% endblock %}
</body>
</html>